## 1. Import libraries

In [1]:
import pandas as pd
from IPython.display import display

## 2. Import Datasets

In [2]:
training_set_labels = pd.read_csv(r'.\Data\training_set_labels.csv')
training_set_features = pd.read_csv(r'.\Data\training_set_features.csv')
test_set_features = pd.read_csv(r'.\Data\test_set_features.csv')

print ('Training Set Labels:')
display (training_set_labels.head())

print ('Training Set Features:')
display (training_set_features.head())

print ('Test Set Features:')
display (test_set_features.head())

Training Set Labels:

   respondent_id  h1n1_vaccine  seasonal_vaccine
0              0             0                 0
1              1             0                 1
2              2             0                 0
3              3             0                 1
4              4             0                 0

Training Set Features:

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

Test Set Features:

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird

#### Merge datasets

Add the training_set_labels to both the test_set_features and training_set_features dataframes.

In [3]:
# Merge training_set_labels.csv to training_set_features
training_set_df = pd.merge(training_set_labels, training_set_features, on='respondent_id', how='inner')

# Add training_set_labels to test_set_features
test_set_df = pd.concat([training_set_labels, test_set_features], axis=1)

## 3. Exploratory data analysis

In [4]:
training_set_df.shape

(26707, 38)

In [5]:
training_set_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_vaccine                 26707 non-null  int64
 2   seasonal_vaccine             26707 non-null  int64
 3   h1n1_concern                 26615 non-null  float64
 4   h1n1_knowledge               26591 non-null  float64
 5   behavioral_antiviral_meds    26636 non-null  float64
 6   behavioral_avoidance         26499 non-null  float64
 7   behavioral_face_mask         26688 non-null  float64
 8   behavioral_wash_hands        26665 non-null  float64
 9   behavioral_large_gatherings  26620 non-null  float64
 10  behavioral_outside_home      26625 non-null  float64
 11  behavioral_touch_face        26579 non-null  float64
 12  doctor_recc_h1n1             24547 non-null  float64
 13  doctor_recc_seasonal         24547 non-null  float64
 14  chronic_med_condition        25736 non-null  float64
 15  child_under_6_months         25887 non-null  float64
 16  health_worker                25903 non-null  float64
 17  health_insurance             14433 non-null  float64
 18  opinion_h1n1_vacc_effective  26316 non-null  float64
 19  opinion_h1n1_risk            26319 non-null  float64
 20  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 21  opinion_seas_vacc_effective  26245 non-null  float64
 22  opinion_seas_risk            26193 non-null  float64
 23  opinion_seas_sick_from_vacc  26170 non-null  float64
 24  age_group                    26707 non-null  object
 25  education                    25300 non-null  object
 26  race                         26707 non-null  object
 27  sex                          26707 non-null  object
 28  income_poverty               22284 non-null  object
 29  marital_status               25299 non-null  object
 30  rent_or_own                  24665 non-null  object
 31  employment_status            25244 non-null  object
 32  hhs_geo_region               26707 non-null  object
 33  census_msa                   26707 non-null  object
 34  household_adults             26458 non-null  float64
 35  household_children           26458 non-null  float64
 36  employment_industry          13377 non-null  object
 37  employment_occupation        13237 non-null  object
dtypes: float64(23), int64(3), object(12)
memory usage: 7.7+ MB

#### Categorical variables

In [6]:
# Find categorical variables
categorical = [var for var in training_set_df.columns if training_set_df[var].dtype == 'O']

training_set_df[categorical].columns

Index(['age_group', 'education', 'race', 'sex', 'income_poverty',
       'marital_status', 'rent_or_own', 'employment_status', 'hhs_geo_region',
       'census_msa', 'employment_industry', 'employment_occupation'],
      dtype='object')

training_set_df has 12 categorical variables:

    - age_group
    - education
    - race
    - sex
    - income_poverty
    - marital_status
    - rent_own
    - employment_status
    - hhs_geo_region
    - census_msa
    - employment_industry
    - employment_occupation

Drop the following columns

    - employment_industry
    - employment_occupation
    - rent_or_own

In [7]:
training_set_df = training_set_df.drop(columns=['employment_industry', 'employment_occupation', 'rent_or_own'])

categorical = [var for var in training_set_df.columns if training_set_df[var].dtype == 'O']

training_set_df[categorical].columns

Index(['age_group', 'education', 'race', 'sex', 'income_poverty',
       'marital_status', 'employment_status', 'hhs_geo_region', 'census_msa'],
      dtype='object')

In [8]:
training_set_df[categorical].isna().sum()

age_group               0
education            1407
race                    0
sex                     0
income_poverty       4423
marital_status       1408
employment_status    1463
hhs_geo_region          0
census_msa              0
dtype: int64

Check for cardiality of the categorical variables ...

In [9]:
training_set_df[categorical].nunique()

age_group             5
education             4
race                  4
sex                   2
income_poverty        3
marital_status        2
employment_status     3
hhs_geo_region       10
census_msa            3
dtype: int64

## 4. One Hot Encoding 

Start OHE on categorical columns with null values.

In [11]:
# OHE for all categorical columns, add additional columns for missing data
training_set_categorical = pd.get_dummies(training_set_df[categorical], drop_first= True, dummy_na= True, dtype= int)

# Drop columns where nans=0
training_set_categorical = training_set_categorical.loc[:, (training_set_categorical != 0).any(axis=0)]

training_set_categorical.head()

,age_group_35 - 44 Years,age_group_45 - 54 Years,age_group_55 - 64 Years,age_group_65+ Years,education_< 12 Years,education_College Graduate,education_Some College,education_nan,race_Hispanic,race_Other or Multiple,...,hhs_geo_region_dqpwygqj,hhs_geo_region_fpwskwrf,hhs_geo_region_kbazzjca,hhs_geo_region_lrircsnp,hhs_geo_region_lzgpxyit,hhs_geo_region_mlyzmhmf,hhs_geo_region_oxchjgsf,hhs_geo_region_qufhixun,"census_msa_MSA, Principle City",census_msa_Non-MSA
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [12]:
training_set_categorical.shape

(26707, 31)

#### Numerical variables

In [ ]:
training_set_numeric =