## 1. Import libraries

In [1]:
import pandas as pd
from IPython.display import display

## 2. Import Datasets

In [2]:
training_set_labels = pd.read_csv(r'.\Data\training_set_labels.csv')
training_set_features = pd.read_csv(r'.\Data\training_set_features.csv')
test_set_features = pd.read_csv(r'.\Data\test_set_features.csv')

print ('Training Set Labels:')
display (training_set_labels.head())

print ('Training Set Features:')
display (training_set_features.head())

print ('Test Set Features:')
display (test_set_features.head())

Training Set Labels:

   respondent_id  h1n1_vaccine  seasonal_vaccine
0              0             0                 0
1              1             0                 1
2              2             0                 0
3              3             0                 1
4              4             0                 0

Training Set Features:

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

Test Set Features:

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird

#### Merge datasets

Add the training_set_labels to both the test_set_features and training_set_features dataframes.

In [3]:
# Merge training_set_labels.csv to training_set_features
training_set_df = pd.merge(training_set_labels, training_set_features, on='respondent_id', how='inner')

# Add training_set_labels to test_set_features
test_set_df = pd.concat([training_set_labels, test_set_features], axis=1)

## 3. Exploratory data analysis

In [4]:
training_set_df.shape

(26707, 38)

In [5]:
training_set_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_vaccine                 26707 non-null  int64
 2   seasonal_vaccine             26707 non-null  int64
 3   h1n1_concern                 26615 non-null  float64
 4   h1n1_knowledge               26591 non-null  float64
 5   behavioral_antiviral_meds    26636 non-null  float64
 6   behavioral_avoidance         26499 non-null  float64
 7   behavioral_face_mask         26688 non-null  float64
 8   behavioral_wash_hands        26665 non-null  float64
 9   behavioral_large_gatherings  26620 non-null  float64
 10  behavioral_outside_home      26625 non-null  float64
 11  behavioral_touch_face        26579 non-null  float64
 12  doctor_recc_h1n1             24547 non-null  float64
 13  doctor_recc_seasonal         24547 non-null  float64
 14  chronic_med_condition        25736 non-null  float64
 15  child_under_6_months         25887 non-null  float64
 16  health_worker                25903 non-null  float64
 17  health_insurance             14433 non-null  float64
 18  opinion_h1n1_vacc_effective  26316 non-null  float64
 19  opinion_h1n1_risk            26319 non-null  float64
 20  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 21  opinion_seas_vacc_effective  26245 non-null  float64
 22  opinion_seas_risk            26193 non-null  float64
 23  opinion_seas_sick_from_vacc  26170 non-null  float64
 24  age_group                    26707 non-null  object
 25  education                    25300 non-null  object
 26  race                         26707 non-null  object
 27  sex                          26707 non-null  object
 28  income_poverty               22284 non-null  object
 29  marital_status               25299 non-null  object
 30  rent_or_own                  24665 non-null  object
 31  employment_status            25244 non-null  object
 32  hhs_geo_region               26707 non-null  object
 33  census_msa                   26707 non-null  object
 34  household_adults             26458 non-null  float64
 35  household_children           26458 non-null  float64
 36  employment_industry          13377 non-null  object
 37  employment_occupation        13237 non-null  object
dtypes: float64(23), int64(3), object(12)
memory usage: 7.7+ MB

#### Categorical variables

In [6]:
# Find categorical variables with dtype object
categorical = [var for var in training_set_df.columns if training_set_df[var].dtype == 'O']

training_set_df[categorical].columns

Index(['age_group', 'education', 'race', 'sex', 'income_poverty',
       'marital_status', 'rent_or_own', 'employment_status', 'hhs_geo_region',
       'census_msa', 'employment_industry', 'employment_occupation'],
      dtype='object')

training_set_df has 12 categorical variables:

    - age_group
    - education
    - race
    - sex
    - income_poverty
    - marital_status
    - rent_or_own
    - employment_status
    - hhs_geo_region
    - census_msa
    - employment_industry
    - employment_occupation

Drop the following columns

    - employment_industry
    - employment_occupation
    - rent_or_own

In [7]:
training_set_df = training_set_df.drop(columns=['employment_industry', 'employment_occupation', 'rent_or_own'])

categorical = [var for var in training_set_df.columns if training_set_df[var].dtype == 'O']

training_set_df[categorical].columns

Index(['age_group', 'education', 'race', 'sex', 'income_poverty',
       'marital_status', 'employment_status', 'hhs_geo_region', 'census_msa'],
      dtype='object')

In [8]:
training_set_df[categorical].isna().sum()

age_group               0
education            1407
race                    0
sex                     0
income_poverty       4423
marital_status       1408
employment_status    1463
hhs_geo_region          0
census_msa              0
dtype: int64

Check for cardiality of the categorical variables ...

In [9]:
training_set_df[categorical].nunique()

age_group             5
education             4
race                  4
sex                   2
income_poverty        3
marital_status        2
employment_status     3
hhs_geo_region       10
census_msa            3
dtype: int64

## 4. One Hot Encoding 

Start OHE on categorical columns with null values.

In [10]:
# OHE for all categorical columns, add additional columns for missing data
training_set_categorical = pd.get_dummies(training_set_df[categorical], drop_first= True, dummy_na= True, dtype= int)

# Drop columns where nans=0
training_set_categorical = training_set_categorical.loc[:, (training_set_categorical != 0).any(axis=0)]

training_set_categorical.head()

,age_group_35 - 44 Years,age_group_45 - 54 Years,age_group_55 - 64 Years,age_group_65+ Years,education_< 12 Years,education_College Graduate,education_Some College,education_nan,race_Hispanic,race_Other or Multiple,...,hhs_geo_region_dqpwygqj,hhs_geo_region_fpwskwrf,hhs_geo_region_kbazzjca,hhs_geo_region_lrircsnp,hhs_geo_region_lzgpxyit,hhs_geo_region_mlyzmhmf,hhs_geo_region_oxchjgsf,hhs_geo_region_qufhixun,"census_msa_MSA, Principle City",census_msa_Non-MSA
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
training_set_categorical.shape

(26707, 31)

In [12]:
training_set_categorical.isna().sum()

age_group_35 - 44 Years                 0
age_group_45 - 54 Years                 0
age_group_55 - 64 Years                 0
age_group_65+ Years                     0
education_< 12 Years                    0
education_College Graduate              0
education_Some College                  0
education_nan                           0
race_Hispanic                           0
race_Other or Multiple                  0
race_White                              0
sex_Male                                0
income_poverty_> $75,000                0
income_poverty_Below Poverty            0
income_poverty_nan                      0
marital_status_Not Married              0
marital_status_nan                      0
employment_status_Not in Labor Force    0
employment_status_Unemployed            0
employment_status_nan                   0
hhs_geo_region_bhuqouqj                 0
hhs_geo_region_dqpwygqj                 0
hhs_geo_region_fpwskwrf                 0
hhs_geo_region_kbazzjca                 0
hhs_geo_region_lrircsnp                 0
hhs_geo_region_lzgpxyit                 0
hhs_geo_region_mlyzmhmf                 0
hhs_geo_region_oxchjgsf                 0
hhs_geo_region_qufhixun                 0
census_msa_MSA, Principle City          0
census_msa_Non-MSA                      0
dtype: int64

#### Dtype 'int' Categorical Variables

In [13]:
training_set_numeric = training_set_df.select_dtypes(include= 'number')
training_set_numeric.columns

Index(['respondent_id', 'h1n1_vaccine', 'seasonal_vaccine', 'h1n1_concern',
       'h1n1_knowledge', 'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_h1n1', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_h1n1_vacc_effective', 'opinion_h1n1_risk',
       'opinion_h1n1_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'household_adults',
       'household_children'],
      dtype='object')

In [14]:
training_set_numeric.isna().sum()

respondent_id                      0
h1n1_vaccine                       0
seasonal_vaccine                   0
h1n1_concern                      92
h1n1_knowledge                   116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_h1n1                2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_h1n1_vacc_effective      391
opinion_h1n1_risk                388
opinion_h1n1_sick_from_vacc      395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
household_adults                 249
household_children               249
dtype: int64

To reduce the number of columns during OHE of numeric variables, in columns with null values < 200, fill na with the modal value.

In [15]:
# Identify columns with na < 200
def fill_na_less_200(column):
    if column.isna().sum() < 200:
        modal_value = column.mode()[0]
        return column.fillna(modal_value)
    return column

training_set_numeric = training_set_numeric.apply(fill_na_less_200)
training_set_numeric.isna().sum()

respondent_id                      0
h1n1_vaccine                       0
seasonal_vaccine                   0
h1n1_concern                       0
h1n1_knowledge                     0
behavioral_antiviral_meds          0
behavioral_avoidance             208
behavioral_face_mask               0
behavioral_wash_hands              0
behavioral_large_gatherings        0
behavioral_outside_home            0
behavioral_touch_face              0
doctor_recc_h1n1                2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_h1n1_vacc_effective      391
opinion_h1n1_risk                388
opinion_h1n1_sick_from_vacc      395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
household_adults                 249
household_children               249
dtype: int64

OHE on numeric variables

In [16]:
# Drop id column
training_set_numeric = training_set_numeric.drop(columns=['respondent_id'])

In [17]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

training_set_numeric = training_set_numeric.astype(str).fillna('NA')

ohe = OneHotEncoder(drop= 'first', sparse_output= False, dtype= int)

training_set_numeric = training_set_numeric.fillna('NA')
columns_nan = training_set_numeric.columns[(training_set_numeric == 0).all()]
columns_nan.nunique()

ohe.fit(training_set_numeric)
training_set_numeric_encoded = ohe.transform(training_set_numeric)

training_set_numeric = pd.DataFrame(training_set_numeric_encoded, columns=ohe.get_feature_names_out(training_set_numeric.columns))

training_set_numeric.nunique()

h1n1_vaccine_1            2
seasonal_vaccine_1        2
h1n1_concern_1.0          2
h1n1_concern_2.0          2
h1n1_concern_3.0          2
                         ..
household_adults_nan      2
household_children_1.0    2
household_children_2.0    2
household_children_3.0    2
household_children_nan    2
Length: 65, dtype: int64

In [18]:
training_set_df = pd.concat([training_set_numeric, training_set_categorical], axis= 1)
training_set_df.shape

(26707, 96)

Check for frequency distribution in the training_set_df

In [19]:
for var in training_set_df: 
    
    print(training_set_df[var].value_counts()/np.float64(len(training_set_df)))

h1n1_vaccine_1
0    0.787546
1    0.212454
Name: count, dtype: float64
seasonal_vaccine_1
0    0.534392
1    0.465608
Name: count, dtype: float64
h1n1_concern_1.0
0    0.694724
1    0.305276
Name: count, dtype: float64
h1n1_concern_2.0
0    0.600592
1    0.399408
Name: count, dtype: float64
h1n1_concern_3.0
0    0.828098
1    0.171902
Name: count, dtype: float64
h1n1_knowledge_1.0
1    0.550942
0    0.449058
Name: count, dtype: float64
h1n1_knowledge_2.0
0    0.644775
1    0.355225
Name: count, dtype: float64
behavioral_antiviral_meds_1.0
0    0.951286
1    0.048714
Name: count, dtype: float64
behavioral_avoidance_1.0
1    0.719961
0    0.280039
Name: count, dtype: float64
behavioral_avoidance_nan
0    0.992212
1    0.007788
Name: count, dtype: float64
behavioral_face_mask_1.0
0    0.931067
1    0.068933
Name: count, dtype: float64
behavioral_wash_hands_1.0
1    0.825888
0    0.174112
Name: count, dtype: float64
behavioral_large_gatherings_1.0
0    0.642528
1    0.357472
Name: count, dtype: float64
behavioral_outside_home_1.0
0    0.663721
1    0.336279
Name: count, dtype: float64
behavioral_touch_face_1.0
1    0.678811
0    0.321189
Name: count, dtype: float64
doctor_recc_h1n1_1.0
0    0.797506
1    0.202494
Name: count, dtype: float64
doctor_recc_h1n1_nan
0    0.919122
1    0.080878
Name: count, dtype: float64
doctor_recc_seasonal_1.0
0    0.696933
1    0.303067
Name: count, dtype: float64
doctor_recc_seasonal_nan
0    0.919122
1    0.080878
Name: count, dtype: float64
chronic_med_condition_1.0
0    0.727038
1    0.272962
Name: count, dtype: float64
chronic_med_condition_nan
0    0.963642
1    0.036358
Name: count, dtype: float64
child_under_6_months_1.0
0    0.919946
1    0.080054
Name: count, dtype: float64
child_under_6_months_nan
0    0.969296
1    0.030704
Name: count, dtype: float64
health_worker_1.0
0    0.891452
1    0.108548
Name: count, dtype: float64
health_worker_nan
0    0.969896
1    0.030104
Name: count, dtype: float64
health_insurance_1.0
0    0.524582
1    0.475418
Name: count, dtype: float64
health_insurance_nan
0    0.54042
1    0.45958
Name: count, dtype: float64
opinion_h1n1_vacc_effective_2.0
0    0.93043
1    0.06957
Name: count, dtype: float64
opinion_h1n1_vacc_effective_3.0
0    0.823155
1    0.176845
Name: count, dtype: float64
opinion_h1n1_vacc_effective_4.0
0    0.562549
1    0.437451
Name: count, dtype: float64
opinion_h1n1_vacc_effective_5.0
0    0.731681
1    0.268319
Name: count, dtype: float64
opinion_h1n1_vacc_effective_nan
0    0.98536
1    0.01464
Name: count, dtype: float64
opinion_h1n1_risk_2.0
0    0.628599
1    0.371401
Name: count, dtype: float64
opinion_h1n1_risk_3.0
0    0.958176
1    0.041824
Name: count, dtype: float64
opinion_h1n1_risk_4.0
0    0.79803
1    0.20197
Name: count, dtype: float64
opinion_h1n1_risk_5.0
0    0.934474
1    0.065526
Name: count, dtype: float64
opinion_h1n1_risk_nan
0    0.985472
1    0.014528
Name: count, dtype: float64
opinion_h1n1_sick_from_vacc_2.0
0    0.65818
1    0.34182
Name: count, dtype: float64
opinion_h1n1_sick_from_vacc_3.0
0    0.994458
1    0.005542
Name: count, dtype: float64
opinion_h1n1_sick_from_vacc_4.0
0    0.780956
1    0.219044
Name: count, dtype: float64
opinion_h1n1_sick_from_vacc_5.0
0    0.918111
1    0.081889
Name: count, dtype: float64
opinion_h1n1_sick_from_vacc_nan
0    0.98521
1    0.01479
Name: count, dtype: float64
opinion_seas_vacc_effective_2.0
0    0.9174
1    0.0826
Name: count, dtype: float64
opinion_seas_vacc_effective_3.0
0    0.954469
1    0.045531
Name: count, dtype: float64
opinion_seas_vacc_effective_4.0
0    0.564571
1    0.435429
Name: count, dtype: float64
opinion_seas_vacc_effective_5.0
0    0.626577
1    0.373423
Name: count, dtype: float64
opinion_seas_vacc_effective_nan
0    0.982701
1    0.017299
Name: count, dtype: float64
opinion_seas_risk_2.0
0    0.664732
1    0.335268
Name: count, dtype: float64
opinion_seas_risk_3.0
0    0.974651
1    0.025349
Name: count, dtype: float64
opinion_seas_risk_4.0
0    0.714307
1    0.285693
Name: count, dtype: float64
opinion_seas_risk_5.0
0    0.889243
1    0.110757
Name: count, dtype: float64
opinion_seas_risk_nan
0    0.980754
1    0.019246
Name: count, dtype: float64
opinion_seas_sick_from_vacc_2.0
0    0.714195
1    0.285805
Name: count, dtype: float64
opinion_seas_sick_from_vacc_3.0
0    0.99648
1    0.00352
Name: count, dtype: float64
opinion_seas_sick_from_vacc_4.0
0    0.818325
1    0.181675
Name: count, dtype: float64
opinion_seas_sick_from_vacc_5.0
0    0.93556
1    0.06444
Name: count, dtype: float64
opinion_seas_sick_from_vacc_nan
0    0.979893
1    0.020107
Name: count, dtype: float64
household_adults_1.0
1    0.541955
0    0.458045
Name: count, dtype: float64
household_adults_2.0
0    0.895046
1    0.104954
Name: count, dtype: float64
household_adults_3.0
0    0.957876
1    0.042124
Name: count, dtype: float64
household_adults_nan
0    0.990677
1    0.009323
Name: count, dtype: float64
household_children_1.0
0    0.881117
1    0.118883
Name: count, dtype: float64
household_children_2.0
0    0.892762
1    0.107238
Name: count, dtype: float64
household_children_3.0
0    0.934586
1    0.065414
Name: count, dtype: float64
household_children_nan
0    0.990677
1    0.009323
Name: count, dtype: float64
age_group_35 - 44 Years
0    0.855918
1    0.144082
Name: count, dtype: float64
age_group_45 - 54 Years
0    0.803872
1    0.196128
Name: count, dtype: float64
age_group_55 - 64 Years
0    0.791703
1    0.208297
Name: count, dtype: float64
age_group_65+ Years
0    0.743775
1    0.256225
Name: count, dtype: float64
education_< 12 Years
0    0.911521
1    0.088479
Name: count, dtype: float64
education_College Graduate
0    0.621934
1    0.378066
Name: count, dtype: float64
education_Some College
0    0.736286
1    0.263714
Name: count, dtype: float64
education_nan
0    0.947317
1    0.052683
Name: count, dtype: float64
race_Hispanic
0    0.934287
1    0.065713
Name: count, dtype: float64
race_Other or Multiple
0    0.939641
1    0.060359
Name: count, dtype: float64
race_White
1    0.794623
0    0.205377
Name: count, dtype: float64
sex_Male
0    0.593777
1    0.406223
Name: count, dtype: float64
income_poverty_> $75,000
0    0.745011
1    0.254989
Name: count, dtype: float64
income_poverty_Below Poverty
0    0.899015
1    0.100985
Name: count, dtype: float64
income_poverty_nan
0    0.834388
1    0.165612
Name: count, dtype: float64
marital_status_Not Married
0    0.560265
1    0.439735
Name: count, dtype: float64
marital_status_nan
0    0.94728
1    0.05272
Name: count, dtype: float64
employment_status_Not in Labor Force
0    0.616917
1    0.383083
Name: count, dtype: float64
employment_status_Unemployed
0    0.945595
1    0.054405
Name: count, dtype: float64
employment_status_nan
0    0.94522
1    0.05478
Name: count, dtype: float64
hhs_geo_region_bhuqouqj
0    0.893436
1    0.106564
Name: count, dtype: float64
hhs_geo_region_dqpwygqj
0    0.957839
1    0.042161
Name: count, dtype: float64
hhs_geo_region_fpwskwrf
0    0.877747
1    0.122253
Name: count, dtype: float64
hhs_geo_region_kbazzjca
0    0.892987
1    0.107013
Name: count, dtype: float64
hhs_geo_region_lrircsnp
0    0.922193
1    0.077807
Name: count, dtype: float64
hhs_geo_region_lzgpxyit
0    0.839106
1    0.160894
Name: count, dtype: float64
hhs_geo_region_mlyzmhmf
0    0.916015
1    0.083985
Name: count, dtype: float64
hhs_geo_region_oxchjgsf
0    0.892949
1    0.107051
Name: count, dtype: float64
hhs_geo_region_qufhixun
0    0.883851
1    0.116149
Name: count, dtype: float64
census_msa_MSA, Principle City
0    0.705545
1    0.294455
Name: count, dtype: float64
census_msa_Non-MSA
0    0.730483
1    0.269517
Name: count, dtype: float64

## Data cleaning test data

In [20]:
test_set_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26708 entries, 0 to 26707
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  float64
 1   h1n1_vaccine                 26707 non-null  float64
 2   seasonal_vaccine             26707 non-null  float64
 3   respondent_id                26708 non-null  int64
 4   h1n1_concern                 26623 non-null  float64
 5   h1n1_knowledge               26586 non-null  float64
 6   behavioral_antiviral_meds    26629 non-null  float64
 7   behavioral_avoidance         26495 non-null  float64
 8   behavioral_face_mask         26689 non-null  float64
 9   behavioral_wash_hands        26668 non-null  float64
 10  behavioral_large_gatherings  26636 non-null  float64
 11  behavioral_outside_home      26626 non-null  float64
 12  behavioral_touch_face        26580 non-null  float64
 13  doctor_recc_h1n1             24548 non-null  float64
 14  doctor_recc_seasonal         24548 non-null  float64
 15  chronic_med_condition        25776 non-null  float64
 16  child_under_6_months         25895 non-null  float64
 17  health_worker                25919 non-null  float64
 18  health_insurance             14480 non-null  float64
 19  opinion_h1n1_vacc_effective  26310 non-null  float64
 20  opinion_h1n1_risk            26328 non-null  float64
 21  opinion_h1n1_sick_from_vacc  26333 non-null  float64
 22  opinion_seas_vacc_effective  26256 non-null  float64
 23  opinion_seas_risk            26209 non-null  float64
 24  opinion_seas_sick_from_vacc  26187 non-null  float64
 25  age_group                    26708 non-null  object
 26  education                    25301 non-null  object
 27  race                         26708 non-null  object
 28  sex                          26708 non-null  object
 29  income_poverty               22211 non-null  object
 30  marital_status               25266 non-null  object
 31  rent_or_own                  24672 non-null  object
 32  employment_status            25237 non-null  object
 33  hhs_geo_region               26708 non-null  object
 34  census_msa                   26708 non-null  object
 35  household_adults             26483 non-null  float64
 36  household_children           26483 non-null  float64
 37  employment_industry          13433 non-null  object
 38  employment_occupation        13282 non-null  object
dtypes: float64(26), int64(1), object(12)
memory usage: 7.9+ MB

In [21]:
# Drop the following columns: employment_industry, employment_occupation, rent_or_own, 'respondent_id'
test_set_df = test_set_df.drop(columns= ['employment_industry', 'employment_occupation', 'rent_or_own', 'respondent_id'])

# Check for missing values
test_set_df.isna().sum()

h1n1_vaccine                       1
seasonal_vaccine                   1
h1n1_concern                      85
h1n1_knowledge                   122
behavioral_antiviral_meds         79
behavioral_avoidance             213
behavioral_face_mask              19
behavioral_wash_hands             40
behavioral_large_gatherings       72
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_h1n1                2160
doctor_recc_seasonal            2160
chronic_med_condition            932
child_under_6_months             813
health_worker                    789
health_insurance               12228
opinion_h1n1_vacc_effective      398
opinion_h1n1_risk                380
opinion_h1n1_sick_from_vacc      375
opinion_seas_vacc_effective      452
opinion_seas_risk                499
opinion_seas_sick_from_vacc      521
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4497
marital_status                  1442
employment_status               1471
hhs_geo_region                     0
census_msa                         0
household_adults                 225
household_children               225
dtype: int64

Use mode and OHE to fill in missing values

In [22]:
# Where a column has a na < 200, fill na with the modal value.
def fill_na_less_200(column):
    if column.isna().sum() < 200:
        modal_value = column.mode()[0]
        return column.fillna(modal_value)
    return column

test_set_df = test_set_df.apply(fill_na_less_200)

In [23]:
# OHE the test_set_df

# Identify categorical variables with dtype object
test_categorical = [var for var in test_set_df.columns if test_set_df[var].dtype == 'O']

# OHE for all categorical columns, add additional columns for missing data
test_categorical = pd.get_dummies(test_set_df[test_categorical], drop_first= True, dummy_na= True, dtype= int)

# Drop columns where nans=0
test_categorical = test_categorical.loc[:, (test_categorical != 0).any(axis=0)]

test_categorical.isna().sum()

age_group_35 - 44 Years                 0
age_group_45 - 54 Years                 0
age_group_55 - 64 Years                 0
age_group_65+ Years                     0
education_< 12 Years                    0
education_College Graduate              0
education_Some College                  0
education_nan                           0
race_Hispanic                           0
race_Other or Multiple                  0
race_White                              0
sex_Male                                0
income_poverty_> $75,000                0
income_poverty_Below Poverty            0
income_poverty_nan                      0
marital_status_Not Married              0
marital_status_nan                      0
employment_status_Not in Labor Force    0
employment_status_Unemployed            0
employment_status_nan                   0
hhs_geo_region_bhuqouqj                 0
hhs_geo_region_dqpwygqj                 0
hhs_geo_region_fpwskwrf                 0
hhs_geo_region_kbazzjca                 0
hhs_geo_region_lrircsnp                 0
hhs_geo_region_lzgpxyit                 0
hhs_geo_region_mlyzmhmf                 0
hhs_geo_region_oxchjgsf                 0
hhs_geo_region_qufhixun                 0
census_msa_MSA, Principle City          0
census_msa_Non-MSA                      0
dtype: int64

In [24]:
test_categorical.shape

(26708, 31)

In [25]:
# Identify categotical variables with dtype int
test_numeric = test_set_df.select_dtypes(include= 'number')

# Fill na with 'NA' where na is a string
test_numeric = test_numeric.astype(str).fillna('NA')

# OHE 
ohe = OneHotEncoder(drop= 'first', sparse_output= False, dtype= int)

# test_numeric = test_numeric.fillna('NA')
# columns_nan = test_numeric.columns[(test_numeric == 0).all()]
# columns_nan.nunique()

ohe.fit(test_numeric)
test_numeric_encoded = ohe.transform(test_numeric)

test_numeric = pd.DataFrame(test_numeric_encoded, columns=ohe.get_feature_names_out(test_numeric.columns))

test_numeric.isna().sum()

h1n1_vaccine_1.0          0
seasonal_vaccine_1.0      0
h1n1_concern_1.0          0
h1n1_concern_2.0          0
h1n1_concern_3.0          0
                         ..
household_adults_nan      0
household_children_1.0    0
household_children_2.0    0
household_children_3.0    0
household_children_nan    0
Length: 65, dtype: int64

In [26]:
test_set_df = pd.concat([test_categorical, test_numeric], axis= 1)
test_set_df.shape

(26708, 96)

## Train test

In [27]:
from sklearn.model_selection import train_test_split

# Define X and y
y = training_set_df['h1n1_vaccine_1']
X = training_set_df.drop(columns= 'h1n1_vaccine_1')


# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 42)

In [28]:
X_train.shape, X_test.shape

((21365, 95), (5342, 95))

In [29]:
X_train.describe()

,seasonal_vaccine_1,h1n1_concern_1.0,h1n1_concern_2.0,h1n1_concern_3.0,h1n1_knowledge_1.0,h1n1_knowledge_2.0,behavioral_antiviral_meds_1.0,behavioral_avoidance_1.0,behavioral_avoidance_nan,behavioral_face_mask_1.0,...,hhs_geo_region_dqpwygqj,hhs_geo_region_fpwskwrf,hhs_geo_region_kbazzjca,hhs_geo_region_lrircsnp,hhs_geo_region_lzgpxyit,hhs_geo_region_mlyzmhmf,hhs_geo_region_oxchjgsf,hhs_geo_region_qufhixun,"census_msa_MSA, Principle City",census_msa_Non-MSA
count,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000,...,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000,21365.000000
mean,0.467306,0.306717,0.398923,0.171589,0.550012,0.356939,0.049193,0.718980,0.007629,0.070302,...,0.042312,0.121554,0.109057,0.078259,0.159420,0.082659,0.108963,0.117061,0.293939,0.272268
std,0.498942,0.461141,0.489688,0.377032,0.497504,0.479108,0.216275,0.449508,0.087014,0.255661,...,0.201305,0.326778,0.311718,0.268585,0.366075,0.275372,0.311600,0.321500,0.455575,0.445137
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Model training

In [30]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(solver='liblinear', random_state= 42)
logreg.fit(X_train, y_train)

LogisticRegression(random_state=42, solver='liblinear')

Predict results

In [31]:
y_pred_test = logreg.predict(X_test)
y_pred_test

array([0, 0, 0, ..., 1, 0, 0])

In [32]:
y_pred_train = logreg.predict(X_train)
y_pred_train

array([0, 0, 0, ..., 0, 0, 0])

Compare accuracy score

In [33]:
from sklearn.metrics import accuracy_score

print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train)))

Training-set accuracy score: 0.8700

In [34]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred_test)))

Training-set accuracy score: 0.8680

Check for overfitting and underfitting

In [35]:
print('Training set score: {:.4f}'.format(logreg.score(X_train, y_train)))

print('Test set score: {:.4f}'.format(logreg.score(X_test, y_test)))

Training set score: 0.8700
Test set score: 0.8680

Compare model accuracy with null accuracy

In [36]:
y_test.value_counts()

h1n1_vaccine_1
0    4212
1    1130
Name: count, dtype: int64

In [37]:
null_accuracy = (4212/(4212+1130))

print('Null accuracy score: {0:04f}'.format(null_accuracy))

Null accuracy score: 0.788469

## ROC AUC

Measure the classification model performance

In [38]:
from sklearn.metrics import roc_curve